body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1em;
  background-color: antiquewhite;
}

h1 {
  font-size: 2em;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

header {
  background-color: aqua;
}

/* article {
} */

footer {
  padding-top: 24em;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 2em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
