/* ----------------- main styling -------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1em;
  /* background-image: url(billeder/API_3.webp); */
  /* background-color: rgb(34, 33, 33); */
  background-color: orange;
}

h1 {
  color: rgb(34, 33, 33);
  text-decoration: underline;
  font-size: 2em;
  text-align: center;
}

h2 {
  color: white;
  text-decoration-color: orange;
  text-emphasis-style: 10px;
  text-decoration-line: underline;
  text-transform: capitalize;
}

img {
  width: 100%;
  height: auto;
  border: solid orange;
}

header {
  background-color: wheat;
}

article {
  background-color: rgb(34, 33, 33);
}

footer {
  color: gray;
  padding-top: 1em;
  text-align: center;
  text-decoration: underline;
}

.grid-container {
  z-index: 999;
  color: orange;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 2em;
  text-align: center;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* ------ button styling -------------- */

button {
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0;
  color: orange;
  background-color: rgb(34, 33, 33);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 100%;
  max-width: 380px;
  display: grid;
  margin: auto;
}

/*----------- dialog styling / pop-up window ----------------*/
dialog {
  border-color: orange;
  background-color: rgb(34, 33, 33);
  width: 65vw;
  padding: 2em 1em;
}

dialog::backdrop {
  background: rgb(172, 198, 201, 0.8);
}

.dialog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

dialog h3 {
  color: white;
  text-transform: capitalize;
  /* text-decoration-line: underline;
  text-decoration-color: orange; */
}

dialog h4 {
  margin-bottom: 0;
}
dialog ul {
  margin: 0.5em 0 1em;
  padding-inline-start: 1.5em;
}
dialog p {
  margin: 0.5em 0 1em;
}

dialog li {
  text-transform: capitalize;
  color: white;
  /* text-decoration-line: underline;
  text-decoration-color: orange; */
}

dialog p {
  color: white;
  text-align: left;
}
